APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:rabyLA4ckRwl9MJYmcX8fi0IJkcgVl8nokwz14nGwtw=
APP_DEBUG=false
APP_URL=https://laravel-surveymg.herokuapp.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
# postgres://kmwcpgmfooqynr:31b95041aa98ee6b8cfb1fe79b90cd13af7bc1627aa3fd27b4d2fdde8fc8689f@ec2-34-231-183-74.compute-1.amazonaws.com:5432/d54ni8gb790sdt
DB_CONNECTION=pgsql
DB_HOST=ec2-34-231-183-74.compute-1.amazonaws.com
DB_PORT=5432
DB_DATABASE=d54ni8gb790sdt
DB_USERNAME=kmwcpgmfooqynr
DB_PASSWORD=31b95041aa98ee6b8cfb1fe79b90cd13af7bc1627aa3fd27b4d2fdde8fc8689f

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ASSET_URL=https://laravel-surveymg.herokuapp.com
VITE_API_URL=https://laravel-surveymg.herokuapp.com/api/v1
